* {
  font-family: Poppins;
}

.justified {
  text-align: justify;
}

.rounded-table {
  border-radius: 15px 0px 0px 15px;
  overflow: hidden;
}

.table-container {
  max-height: 470px;
  overflow-y: auto;
}

#live-alert {
  top: 10%;
  left: 10%;
}

/* Animation */
.fade-out {
  opacity: 1;
  transition: opacity 1s ease-out;
}

.fade-out.hidden {
  opacity: 0;
}
