<div class="container">
  <h1 class="mb-5">Masukkan Produk</h1>
  <form
    action="/products/create"
    method="POST"
    enctype="application/x-www-form-urlencoded"
  >
    <div class="col-6 mt-5">
      <label for="name" class="form-label">Nama Produk</label>
      <input
        name="name"
        type="text"
        class="form-control"
        id="name"
        placeholder=""
      />
      <div class="invalid-feedback">
        Please enter a valid email address for shipping updates.
      </div>
    </div>

    <div class="col-6 mt-3">
      <label for="price" class="form-label">Harga Produk</label>
      <input
        name="price"
        type="text"
        class="form-control"
        id="price"
        placeholder=""
      />
      <div class="invalid-feedback">
        Please enter a valid email address for shipping updates.
      </div>
    </div>

    <div class="col-6 mt-3">
      <label for="stock" class="form-label">Stock</label>
      <input
        name="stock"
        type="text"
        class="form-control"
        id="stock"
        placeholder=""
      />
      <div class="invalid-feedback">
        Please enter a valid email address for shipping updates.
      </div>
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">Deskripsi</label>
      <textarea
        name="description"
        type="text"
        class="form-control"
        id="description"
        rows="3"
      ></textarea>
    </div>

    <button class="w-10 btn btn-secondary btn-lg mt-5" type="submit">
      Tambah produk
    </button>
  </form>
</div>
