<ul class="list-group">
  <<<<<<< HEAD =======
  <li class="list-group-item">Muhammad Fatihul Iqmal</li>
  <li class="list-group-item">Putu Ananda Darma Wiguna</li>
  <li class="list-group-item">A third item</li>
  <li class="list-group-item">A fourth item</li>
  <li class="list-group-item">And a fifth one</li>
  >>>>>>> 8cbc538ba110741f960f5d079bce0aaac3a2db28
</ul>
