<ul class="list-group">
  <li class="list-group-item">Muhammad Fatihul Iqmal</li>
  <li class="list-group-item">Putu Ananda Darma Wiguna</li>
  <li class="list-group-item">Aqsa Prima Cahya</li>
  <li class="list-group-item">Rizal Firmansyah</li>
  <li class="list-group-item">Ferdi Firdaus Ega Pratama</li>
  <li class="list-group-item">And a fifth one</li>
</ul>
