<div class="mb-5 text-center">
    <h1 class="mb-3">Halaman Review</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur voluptas soluta dignissimos praesentium, a
        perspiciatis eius ullam facilis quae quo! <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos,
        debitis. Lorem ipsum dolor sit amet.</p>
</div>

<div class="mb-3">
    <button class="btn btn-dark">
        + Add new review
    </button>
</div>

<div class="table-responsive">
    <table class="table table-hover text-center ">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Customer</th>
                <th>Product</th>
                <th>Rating</th>
                <th>Comment</th>
                <th>Create Date</th>
                <th>Update Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <td>Anonymus</td>
                <td>Keyboard</td>
                <td>5</td>
                <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</td>
                <td>00/00/0000</td>
                <td>00/00/0000</td>
                <td>
                    <div class="flex flex-column">
                        <!-- button for edit data -->
                        <a href="">
                            <button class="btn btn-primary">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </button>
                        </a>

                        <!-- button for view data -->
                        <a href="">
                            <button class="btn btn-warning">
                                <i class="fa-regular fa-eye"></i>
                            </button>
                        </a>
    
                        <!-- button for delete data -->
                        <a href="">
                            <button class="btn btn-danger">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>